@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.results-row {
  
  @extend %light-curved-border;
  @include flex(column nowrap, flex-start, stretch);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  padding: 10px 10px 10px 12px;
  margin-bottom: 12px;
  width: 100%;
  
  @include tablet {
    @include flex(row nowrap, space-between, center);
    padding: 10px 20px 10px 12px;
  }
  
  @include desktop {
    padding: 10px 50px 10px 12px;
  }

  &__image {
    
    @include tablet {
      max-width: 200px;
    }
    
    &-link {
      margin-bottom: 6px;
      
      @include tablet {
        margin-bottom: unset;
        margin-right: 16px;

      }

      @include desktop {
        margin-right: 30px;
      }
    }
  } 

  // Contains address heading link, price, etc.
  &__data-container {
    @include tablet {
      margin-right: auto;
    }
    
    // contains only PRICE, BEDROOMS, etc.
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px 20px;
      grid-template-areas: ". .";
      margin-bottom: 5px;
      
      @include tablet {
        gap: 10px 20px;
        margin-bottom: unset;
      }
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      // color: $text-2;
      text-decoration: underline;
    }
  }

  &__address {
    color: $text-2;
    margin-bottom: 10px;
  }

  &__paragraph {
    &--column-1 {
      @include desktop {
        min-width: 225px;
      }
    }
  }

  // DETAILS button link
  &__details {
    font-weight: 600;
    text-decoration: none;
    
    // Mobile "button" version
    color: White;
    background-color: $bg-fill-1;
    display: block;
    padding: 5px 0;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    // width: 100%;
    
    @include tablet {
      display: none;
    }
    
    @include desktop {
      // Convert to text link, not button style
      background-color: unset;
      color: $text-2;
      display: unset;
      padding: unset;
      height: unset;
      margin-top: unset;
    }

    &:hover {
      text-decoration: none;

      @include desktop {
        text-decoration: underline;
      }
    }

    &-link {
      text-decoration: none;
    }
  }

}