@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.results-row {
  @extend %light-curved-border;
  @include flex(row nowrap, space-between, center);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  padding: 10px 50px 10px 12px;
  margin-bottom: 12px;

  &__image {
    max-width: 200px;
    
    &-link {
      margin-right: 30px;
    }
  } 

  &__data-container {
    margin-right: auto;
  }

  &__link {
    text-decoration: none;

    &:hover {
      // color: $text-2;
      text-decoration: underline;
    }
  }

  &__address {
    color: $text-2;
    margin-bottom: 10px;
  }

  &__paragraph {
    margin-bottom: 5px;

    &-span {
      margin-right: 20px;
    }
  }

  &__details {
    color: $text-2;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &-link {
      text-decoration: none;
    }
  }

}