@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.placeHeading {
  margin-bottom: 20px;

  &__heading {
    @include font($heading-font, 4.5rem, 600);
    color: $text-1;
    line-height: 48px;
    margin-bottom: 5px;
  }

  &__subheading-link {
    color: $text-2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}