@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.placeHeading {
  margin-bottom: 20px;

  &__heading {
    @include font($heading-font, 4.8rem, 600);
    color: $text-1;
    margin-bottom: 20px;
  }

  &__subheading-span {
    color: $text-2;
  }

}