@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.placeHeading {
  margin-bottom: 20px;
  width: 100%;

  &__heading {
    @include font($heading-font, 2.6rem, 600);
    color: $text-1;
    line-height: 31px;
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 5px;
    }
    
    @include desktop {
      font-size: 4.5rem;
      line-height: 48px;
    }
  }

  &__subheading-link {
    color: $text-2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}