@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.info {
  @include responsive-horiz-margins;
  @include responsive-vert-margins;
  @include flex(row nowrap, center, flex-start);
  
  &__content-container {
    max-width: $max-container-width;
    @include flex(column nowrap, flex-start, center);

    @include tablet {
      @include flex(row nowrap, center, flex-start);
    }
  }

  &__image {
    display: none;
    max-width: 300px;
    margin-right: 22px;
    
    @include desktop {
      display: unset;
    }
  }

  &__column {
    // width: 100%;

    @include tablet {
      width: 300px;
      margin-right: 22px;
    }
    
    @include desktop {
      margin-right: 22px;
    }
  }

  &__heading {
    margin-bottom: 10px;
    // margin-top: 8px;
    
    @include tablet {
      margin-bottom: 20px;
      margin-top: unset;
    }

    &--space-above {
      margin-top: 8px;
    }
  }

  &__paragraph {
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 10px;
    }
  }
}

.samples {
  background-color: $bg-fill-2;
  // padding: 36px $desktop-margin 55px;

  @include responsive-horiz-margins;
  @include responsive-vert-margins;
  @include flex(row nowrap, center, flex-start);
  
  &__content-container {
    // background-color: purple;
    max-width: $max-container-width;
    width: 100%;
    @include flex(column nowrap, flex-start, flex-start);
  }

  &__heading {
    color: $text-2;
    margin-bottom: 10px;
    
    @include tablet {
      margin-bottom: 17px;
    }
  }

  &__sub-heading {
    color: White;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 36px;
    }
  }

  &__places-container {
    display: grid;
    gap: 30px 16px;
    grid-template-areas: ".";
    width: 100%;

    @include tablet {
      gap: 30px 30px;
      grid-template-areas: ". .";
    }

    @include desktop {
      gap: 30px 20px;
      grid-template-areas: ". . . .";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__place {
    
    @include tablet {
      // max-width: 233px;
      // max-width: 300px;
    }
  }

  &__image {
    margin-bottom: 5px;
    // max-width: 214px;
  }

  &__link {
    text-decoration: none;
  }

  &__place-name {
    color: White;
    font-size: 1.7rem;
    margin-bottom: 7px;
    
    @include tablet {
      margin-bottom: 14px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__place-description {
    color: $grey-1;
  }



  


}