@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.map {
  
  &__map {
    max-height: 448px;
  }

  &__dummy {
    background-color: gainsboro;
    height: 450px;
    max-width: 600px;
    object-fit: cover;
    opacity: 0.5;
    width: 100%;
  }

}