@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

html {
  height: 100%;
}

.map {
  
  &__map {
    height: 95vw;
    max-height: 448px;
    max-width: 600px;
  }

  &__dummy {
    background-image: url('../../Assets/Images/gmaps-dummy-blurred.png');
    background-color: gainsboro;
    height: 95vw;
    max-height: 450px;
    max-width: 562px;
    width: 100%;
    @include flex(column nowrap, center, center);
    
  }

  // Loading animation "footsteps"
  &__loader {
    opacity: 0.2;
    max-width: 30px;
    
    @include tablet {
      max-width: 50px;
    }
  }

}