@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.property-info {
  @include flex(column nowrap, flex-start, flex-start);
  margin-right: 67px;
  width: 450px;
  
  &__image {
    margin-bottom: 15px;
  }
  
  &__data-container {
    @include flex(row nowrap, space-between, flex-start);
    margin-bottom: 15px;
    width: 100%;
  }

  &__data-column {
    width: 50%;
  }

  &__label {
    font-size: 1.8rem;
  }

  &__data {
    margin-bottom: 10px;
  }

  &__remarks {
    width: 100%;
  }
}