@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';


.details {
  @include responsive-horiz-margins;
  @include flex(column nowrap, flex-start, center);

  padding-top: 20px;
  padding-bottom: 0;
  
  @include tablet {
      padding-top: 30px;
      padding-bottom: 10px;
  }

  @include desktop {
      padding-top: 35px;
  }  

  &__content-container {
    max-width: $max-container-width;
    width: 100%;
    @include flex(column nowrap, flex-start, flex-start);
  }

  &__property-info-container {
    @include flex(column nowrap, flex-start, flex-start);

    @include desktop {
      @include flex(row nowrap, flex-start, flex-start);
      width: 100%;
    }
  }

  &__remarks {
    margin-top: 15px;
    width: 100%;
    max-width: 1080px;
  }

  &__hr {
    @extend %hr;
    margin-bottom: 20px;
  }

  &__apis {
    @include flex(column nowrap, flex-start, center);

    @include desktop {
      padding-left: $desktop-margin;
      padding-right: $desktop-margin;
    }

    &-container {
      max-width: $max-container-width;
      width: 100%;
      @include flex(column nowrap, flex-start, flex-start);
      
      @include desktop {
        @include flex(row nowrap, flex-start, flex-start);
      }
    }

    &-walkscore-container {
      @include tablet {
        padding-left: $tablet-margin;
      }
      
      @include desktop {
        padding-right: 30px;
        padding-left: unset;
      }
    }
  }
}