@import '../../Styles/mixins';
@import '../../Styles/partials';
@import '../../Styles/variables';


.details {

  padding: 40px $desktop-margin 50px;

  &__property-info-container {
    @include flex(row nowrap, flex-start, flex-start);
    margin-bottom: 50px;
    width: 100%;
  } 

  &__hr {
    @extend %hr;
    margin-bottom: 20px;
  }

  &__visuals-container {
    @include flex(row nowrap, flex-start, flex-start);
  }
}