@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.header {
  background-color: $bg-fill-1;
  height: 47px;
  @include flex(row nowrap, center, center);
  @include responsive-horiz-margins;
  
  &__content-container {
    @include flex(row nowrap, center, center);
    max-width: $max-container-width;
    width: 100%;

    @include tablet {
      @include flex(row nowrap, flex-start, center);
    }
  }

  &__logo-link {
    color: White;
    font-family: $poppins;
    font-weight: 600;
    font-size: 1.7rem;
    text-decoration: none;
    line-height: 0;

    &-span {
      color: $dark-green;
    }
  }

  &__link {
    color: White;
    font-family: $mukta;
    font-weight: 400;
    font-size: 1.7rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}