@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.logo {

  &__frame {
    width: 505px;
    height: 80px;
    margin-bottom: 5px;

    &--hidden {
      display: none;
      visibility: hidden;
    }

    &--visible {
      display: block;
      visibility: visible;
    }
  }

}