@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.logo {

  &__frame {
    margin-bottom: 15px;
    width: 300px;
    height: 48px;
    
    @include tablet {
      height: 80px;
      margin-bottom: 5px;
      width: 505px;
    }

    &--hidden {
      display: none;
      visibility: hidden;
    }

    &--visible {
      display: block;
      visibility: visible;
    }
  }

}