@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.photos {
  background-color: $bg-fill-2;
  @include flex(column nowrap, flex-start, center);
  padding-left: $mobile-margin;
  padding-right: $mobile-margin;
  // @include responsive-horiz-margins;
  @include responsive-vert-margins;

  @include tablet {
    padding-left: $tablet-margin;
    padding-right: $tablet-margin;
  }
  
  // Different padding, depending on row or column mode
  &--row-mode {
    @include desktop {
      padding-left: $desktop-margin;
      padding-right: $desktop-margin;
    }
  }

  &--column-mode {
    @include desktop {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__content-container {
    max-width: $max-container-width;
    width: 100%;
  }

  &__heading {
    color: White;
    margin-bottom: 15px;
  }

  &__sub-heading {
    color: $grey-1;
    margin-bottom: 25px;
  }
}


// Photos render in row mode
.photos-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  
  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  @include desktop {
    gap: 15px 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

// Photos render in column mode
.photos-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  // width: 100%;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    // width: unset;
  }
}