@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.walkscore {
  margin-right: 24px;
  max-width: 504px;
}

#ws-walkscore-tile{position:relative;text-align:left}#ws-walkscore-tile *{float:none;}