@import 'variables';

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}
  
@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}


//------------------------------
// Flex
//------------------------------
@mixin flex($flex-flow, $justify-content, $align-items) {
	display: flex;
	flex-flow: $flex-flow;
	justify-content: $justify-content;
	align-items: $align-items;
}


//------------------------------
// Fonts
//------------------------------
@mixin font($font-family, $font-size, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}