@import 'variables';

%hr {
  border-top: 1px solid $hr-fill;
}

%standard-curved-border {
  border-color: $border-color-1;
  border-radius: 9px;
  border-style: solid;
}

%light-curved-border {
  border-color: $border-color-2;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}