@import 'Typography';

//------------------------------
// Breakpoints
//------------------------------
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 320px;

//------------------------------
// Fonts
//------------------------------
$poppins: 'Poppins', sans-serif;
$mukta: 'Mukta', sans-serif;

$heading-font: $poppins;
$body-font: $mukta;

//------------------------------
// Sizing / Spacing
//------------------------------
$mobile-margin: 3.750vw; // 12px at 320 width
$tablet-margin: 6.510vw; // 50px at 768 width
$desktop-margin: 100px;

$max-container-width: 1300px;

//------------------------------
// Color palette
//------------------------------
// Palette colors
$green-1: #4AD150;
$dark-green: #1E2624;
$grey-1: #B3B3B3;
$grey-2: #CCCCCC;

// Text assignments
$text-1: $dark-green;
$text-2: $green-1;
$links-color: $green-1;
$links-color-hover: #c7ffca;
$placeholder-text-color: $grey-2;

// Fills
$border-color-1: $grey-1;
$border-color-2: $grey-2;
$bg-fill-1: $green-1;
$bg-fill-2: $dark-green;
$button-hover: #3BA640;
$hr-fill: $grey-2;
