@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';

.hero {
  background-color: Gainsboro;
  background-image: url('../../Assets/Images/hero_2.jpg');
  background-position: cover;
  padding-bottom: 20px;
  padding-top: 20px;
  // height: 665px;
  @include responsive-horiz-margins;
  
  // Centre block containing all elements
  @include flex(row nowrap, center, center);
  
  @include tablet {
    height: 665px;
    padding-bottom: unset;
  }

  &__container {
    @include flex(column nowrap, flex-start, center);

    @include tablet {
      max-width: 767px;
    }
  }

  &__heading {
    color: White;
    margin-bottom: 38px;
    text-align: center;

    &-span {
      color: $text-2;
    }
  }

  &__sub-heading {
    color: White;
    display: none;
    margin-bottom: 15px;
    text-align: center;

    @include tablet {
      display: unset;
    }    
  }
  
  &__call-to-action {
    color: White;
    margin-bottom: 25px;
  }

  &__list {
    // @include flex(column nowrap, center, flex-start);

    @include font($poppins, 1.7rem, 500);
    color: White;
    list-style: none;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    
    @include tablet {
      margin-bottom: 30px;
      // @include flex(row wrap, center, flex-start);
    }
  }

  &__list-item {
    display:block;

    @include tablet {
      display: inline;
      margin-left: 13px;
    }
  }

  &__list-item::before {
    color: $green-1;
    content: "\2022";
    font-size: 2.0rem;
    margin-right: 1px;
  }

  // Neignborhood links total container
  &__links-list-container {
    @include flex(row wrap, center, flex-start);

    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr;
    // display: grid;
    // gap: 12px 6px;
    // grid-template-areas:
    // ". ."
    // ". ."
    // ". ."
    // ". ."
    // ". ."
    // ". .";
    
    @include tablet {
      display: grid;
      grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . .";
      gap: 12px 12px;
    }
  }

  &__links-list-link-container {
    margin: 0 12px 12px 0;

    @include tablet {
      margin: unset;
    }
  }

  // &__links-list {
  //   list-style: none;
  //   margin: 0 20px;
  //   // width: 207px;

  //   &-item {
  //     margin-bottom: 16px;
  //   }
  // }

  &__links-list-link {
    @include font($heading-font, 1.7rem, 500);
    background-color: $bg-fill-1;
    border-radius: 3px;
    // display: inline;
    color: White;
    padding: 1px 3px;
    text-decoration: none;

    &:hover {
      background-color: $button-hover;
    }
  }

  // &__inputs-container {
  //   @include flex(row nowrap, center, center);
  //   margin-bottom: 31px;
  //   width: 100%;
  // }



}