@import '../../Styles/Mixins';
@import '../../Styles/Partials';
@import '../../Styles/Variables';


.results {
  @include responsive-horiz-margins;
  @include responsive-vert-margins;
  // padding: 40px $desktop-margin 30px;
  @include flex(column nowrap, flex-start, center);

  &__content-container {
    max-width: $max-container-width;
    width: 100%;
    @include flex(column nowrap, flex-start, flex-start);
  }

  // Contains WALKSCORE and MAP
  &__visuals-container {
    margin-bottom: 30px;
    width: 100%;
    @include flex(column nowrap, flex-start, flex-start);

    @include desktop {
      @include flex(row nowrap, flex-start, flex-start);
    }
  } 
}